<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="JWT" value="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiJKZW5raW5zV2luVW5pdFRlc3RVc2VyMDkiLCJuYW1lIjoiSmVua2luc1dpblVuaXRUZXN0VXNlcjA5IiwiaXNzIjoiWTJselkyOXpjR0Z5YXpvdkwzVnpMMDlTUjBGT1NWcEJWRWxQVGk5ak56ZzFNRGRsTWkwMFpqazJMVFEzWVRZdE9EZ3haaTB6TkRVMk5HWXlOelpsWXpRIiwiZXhwIjoxNjE2MjM5MDIyfQ.XbykT1QuJAnkITgXjVK-wEKH6oxSqBZyyPHch87zzGg"></add>
    <add key="ClientID" value="C452b978600b789f41d65b6a017f7f8e10c14925af17b1befac2293d107b943ac"/>
    <add key="ClientSecret" value="688b99edf70678a03b1a2c826410e002c27e8ae65172b589edaaf79933c56035"/>
    <add key="RedirectURL" value="WebexSdkWinUnitTest://redirect"/>
    <add key ="TestFixtureAppAddress01" value="sparksdktestuser12@tropo.com"/>
    <add key ="AdminClientID" value="Cc5ce08d6eb24526c2af47c8ad39e58db1e07d3c53cbd4c9d359a5c471344c2fb"/>
    <add key="AdminSecret" value="e3dea2be124397f2ae4daf148e39063793bf20f02861a4faa09bb96b0ceb4256"/>
  </appSettings>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ITestFixtureService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8733/TestFixtureService"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ITestFixtureService"
                contract="ServiceReference.ITestFixtureService" name="BasicHttpBinding_ITestFixtureService" />
        </client>
    </system.serviceModel>
</configuration>
